<!-- Navbar and Site Name -->
<div class="navbar">
    <div class="site-branding">
        <img src="/icon.png" alt="Site Icon" class="site-icon" />
        <h1 class="site-name">
            <a routerLink="/" class="site-link">FindYourNest</a>
        </h1>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <!-- Dropdown Menu for Policies -->
            <li class="dropdown">
                <a routerLink="/policies">Policies</a>
                <ul class="dropdown-content">
                    <li><a routerLink="/policies/policy">Policy</a></li>
                    <li><a routerLink="/policies/privacy">Privacy</a></li>
                </ul>
            </li>
            <li class="button-style"><button routerLink="/login">Login</button></li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>