<div class="sidebar">
    <!-- PG Owner Profile in one line -->
    <div class="profile">
        <img src="/portrait.jpg" alt="Profile Picture" class="profile-pic" />
        <h1 class="profile-name">PG Owner</h1>
    </div>
    <hr />
    <!-- Underlined "MENU" Heading -->
    <h3 class="menu-title">Menu</h3>

    <!-- Sidebar Navigation without Dropdowns -->
    <ul class="sidebar-nav">
        <!-- Manage PG -->
        <li>
            <a routerLink="/pgowner-navbar/view-pg/:pgId">
                <i class="fas fa-home"></i><span style="padding-left: 10px;"></span> Manage PG
            </a>
        </li>
        
        <!-- Reviews -->
        <li>
            <a routerLink="/pg-owner/view-reviews">
                <i class="fas fa-comment-dots"></i> <span style="padding-left: 10px;"></span>View Reviews
            </a>
        </li>
        <li>
            <a routerLink="/pg-owner/report-reviews">
                <i class="fas fa-exclamation-triangle"></i><span style="padding-left: 10px;"></span> Report Reviews
            </a>
        </li>
        <li>
            <a routerLink="/pg-owner/respond-reviews">
                <i class="fas fa-reply"></i><span style="padding-left: 10px;"></span> Respond to Reviews
            </a>
        </li>
    </ul>
</div>
