<div class="search-box">
    <form (submit)="searchPgs()">
        <div class="city-box">
            <label for="district">District:</label>
            <input type="text" id="district" [(ngModel)]="searchModel.district" name="district">

            <label for="city">City:</label>
            <input type="text" id="city" [(ngModel)]="searchModel.city" name="city">

            <button type="submit">Search</button>
        </div>
    </form>

    <div *ngIf="pgs.length > 0">
        <h3>Search Results:</h3>
        <ul>
            <li *ngFor="let pg of pgs">
                {{ pg.Pgname }} - {{ pg.City }} ({{ pg.District }})
            </li>
        </ul>
    </div>
    <div *ngIf="pgs.length === 0">
        <p>No PGs found.</p>
    </div>
</div>
