<app-navbar></app-navbar>
<div class="policy-section">
    <div class="policy-container">
        <h1>Guest Policies</h1>
        <ul>
            <li>The primary guest must be at least 18 years of age to be able to check in to the property.</li>
            <li>It is mandatory for guests to present valid photo identification at the time of check-in. The identification proofs accepted are Driving License, Voter ID Card, Photo PAN card, Aadhar card, and Passport.</li>
            <li>Guests shall be liable for any damage, except normal wear and tear to Property assets, and shall maintain hygiene and cleanliness.</li>
            <li>Hosts reserve the right to take action against any guest deemed to have inappropriate behavior after proper investigation.</li>
            <li>Guests cannot cancel bookings on the check-in date onwards and no refund will be entertained in this case.</li>
            <li>In some properties, unmarried/unrelated couples may not be allowed to check-in. Please confirm with the property before booking.</li>
            <li>Some properties may deny entry of visitors to rooms. Please confirm with the property before inviting visitors into the rooms.</li>
        </ul>
        <h2>Cancellation/Refund Process</h2>
        <ul>
            <li>Guest can cancel the booking any time till one day prior to the check-in date. After 23:59 hrs on the check-in date, the booking is auto-cancelled if the guest doesn't show.</li>
            <li>Cancelled 3 days prior to the check-in date: 100% refund.</li>
            <li>Cancelled within 3 days to 1 day prior: 70% refund.</li>
            <li>No cancellations allowed on or after the check-in date.</li>
        </ul>
        <h2>Booking Extension Process</h2>
        <ul>
            <li>Booking extension is allowed, but host confirmation is mandatory.</li>
        </ul>
        <h2>Contact Information</h2>
        <ul>
            <li>For booking-related queries, contact PGO Care at +91-9063081081</li>
        </ul>
    </div>
</div>
<app-footer></app-footer>