<div class="container">
    <h2>Pending Requests</h2>

    <div class="search-container">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search by Email" class="input-field">
        <button class="search-button" (click)="onSearch()">Search</button>
    </div>

    <div *ngIf="filteredRequests.length > 0">
        <table class="pending-requests">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>DOB</th>
                    <th>WhatsApp</th>
                    <th>Chat Link</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let request of filteredRequests">
                    <td>{{ request.firstName }}</td>
                    <td>{{ request.lastName }}</td>
                    <td>{{ request.email }}</td>
                    <td>{{ request.phone }}</td>
                    <td>{{ request.gender }}</td>
                    <td>{{ request.dob }}</td>
                    <td>{{ request.whatsapp }}</td>
                    <td><a [href]="request.chatLink">Chat</a></td>
                    <td>{{ request.address }}</td>
                    <td>
                        <button (click)="unban(request.uid)">Ban</button>
                    
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="filteredRequests.length === 0">
        <p>No pending requests available.</p>
    </div>
</div>




