footer {
    background-color: #1e5a8b ;
    color: #f2f7fa;
    padding: 10px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.social-icons li {
    display: inline-block;
}

.social-icons a img {
    width: 30px; 
    height: 30px;
    transition: transform 0.3s;

}

.social-icons a img:hover {
    transform: scale(1.1); 
}

footer p {
    font-size: 0.9em;
    margin: 10px 0 0;
    color: #fff;
}
