<div class="sidebar">
    <div class="profile">
        <img src="portrait.jpg" alt="Profile Picture" class="profile-pic">
        <ul>
            <li class="dropdown"><h1>Admin</h1>
                <ul class="dropdown-content">
                    <li><a routerLink="/admin-navbar/">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <ul>
        <li class="dropdown"><h3>PgOwner</h3>
            <ul class="dropdown-content">
                <li><a routerLink="/admin-navbar/pg-search">Manage PgOwner</a></li>
                <li><a routerLink="/admin-navbar/">View PgOwner</a></li>
            </ul>
        </li>
        <li class="dropdown"><h3>User</h3>
            <ul class="dropdown-content">
                <li><a routerLink="/admin-navbar/user-search">Manage User</a></li>
                <li><a routerLink="/admin-navbar/user-profile">View Review</a></li>
            </ul></li>
        <li class="dropdown"><h3>Pg </h3>
            <ul class="dropdown-content">
                <li><a routerLink="/admin-navbar/pgowner-search">Manage Pg</a></li>
                <li><a routerLink="/admin-navbar/pgowner-search">View Pg</a></li>

            </ul>
        </li>
    </ul>
</div>   
