  /* Content styles */
  .content {
    
    margin-top:-30px; /* Content starts below the topbar */
    margin-left:250px; /* Content starts to the right of the sidebar */

    background-color: #f7f5f5;
    min-height: calc(100vh - 60px); /* Content height = full height minus the topbar */
  }
  