    <div class="sidebar">
    <!-- Admin Profile -->
    <div class="profile">
        <img src="/portrait.jpg" alt="Profile Picture" class="profile-pic" />
        <h1>Admin</h1>
    </div>

    <h3>MENU</h3>
    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav">
        <li>
            <a routerLink="/admin-navbar/owner-action">Manage PG Owner</a>
        </li>
        <li>
            <a routerLink="/admin-navbar/view-approved">View PG Owner</a>
        </li>
        <li>
            <a routerLink="/admin-navbar/user-search">Manage User</a>
        </li>
        <li>
            <a routerLink="/admin-navbar/user-profile">View Review</a>
        </li>
        <li>
            <a routerLink="/admin-navbar/pgowner-search">Manage PG</a>
        </li>
        <li>
            <a routerLink="/admin-navbar/pgowner-search">View PG</a>
        </li>
    </ul>
    </div>
