    <div class="sidebar">
    <!-- Admin Profile -->
    <div class="profile">
        <img src="/admincover.png" alt="Profile Picture" class="profile-pic" />
        <h4>Admin</h4>
    </div>

    <h3>Services</h3>
    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav">
        <li>
            <a routerLink="/admin-navbar/owner-action">Manage PG Owner</a>
        </li>
        <li>
            <a routerLink="/admin-navbar/view-approved">View PG Owner</a>
        </li>
        <li>
            <a routerLink="/admin-navbar/view-active-user">Active User</a>
        </li>
        <li>
            <a routerLink="/admin-navbar/view-banned-user">Banned User</a>
        </li>
        <li>
            <a routerLink="/admin-navbar/view-pending-pg">Manage PG</a>
        </li>
        <li>
            <a routerLink="/admin-navbar/approved-pg">View PG</a>
        </li>
    </ul>
    </div>
<!-- <router-outlet></router-outlet> -->