<div class="card-container">
    <div class="card-header">
        <h2>PG List</h2>
        <button class="add-member-btn" (click)="addPG()">Add PG</button>
    </div>

    <div class="card-body">
        <div *ngFor="let pg of pgs" class="pg-card">
            <div class="pg-info">
                <h3>{{ pg.Pgname }}</h3>
                <p><strong>Address:</strong> {{ pg.Address }}</p>
                <p><strong>District:</strong> {{ pg.District }}</p>
                <p><strong>City:</strong> {{ pg.City }}</p>
                <p><strong>Pin:</strong> {{ pg.Pin }}</p>
            </div>
            <div class="pg-actions">
                <button class="view-details-btn" (click)="pg.Uid !== null && viewPGDetails(pg.Uid)">View Details</button>
            </div>
        </div>
    </div>
</div>
