<div class="card-container">
    <div class="card-header">
        <h2>PG List</h2>
        <button class="add-member-btn" (click)="addPG()">Add PG</button>
    </div>

    <div class="card-body">
        <div *ngFor="let pg of pgs" class="pg-card">
            <div class="pg-info">
                <h3>{{ pg.name }}</h3>
                <p><strong>Address:</strong> {{ pg.address }}</p>
                <p><strong>District:</strong> {{ pg.district }}</p>
                <p><strong>City:</strong> {{ pg.city }}</p>
                <p><strong>Pin:</strong> {{ pg.pin }}</p>
            </div>
            <div class="pg-actions">
                <button class="view-details-btn" (click)="viewPGDetails(pg.id)">View Details</button>
            </div>
        </div>
    </div>
</div>
