/* Navbar and Site Name Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 110px 5px 80px;
    font-family: poppins;
    font-weight: bold;
    background-color: #2b2b67; /* Blue background */
}

.site-name {
    font-size: 32px;
    color: #fbfeff; /* White text */
    padding: 2px 1000px 2px 0px;
}


.site-icon {
    margin-top: 0px;
    width: 70px;
    height: 70px;
    background-color: #2b2b67;
}

/* Profile dropdown menu */
.profile-menu {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ffffff;
    object-fit: cover;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position:absolute;
    right: 0;
    background-color: #1e4e7e;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 2px;
    text-align: left;
    width: 150px;
    color: white;
}

.dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-content li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-content li:hover {
    background-color: #3498db;
}

.dropdown-content a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}

/* Show dropdown on click */
.profile-menu:hover .dropdown-content {
    display: block;
}
