<div class="sidebar">
    <div class="profile">
        <img src="portrait.jpg" alt="Profile Picture" class="profile-pic">
    </div>
    <ul>
        <li class="dropdown"><h2>Username</h2>
            <ul class="dropdown-content">
                <li><a routerLink="/admin-navbar/">Logout</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><a routerLink="/admin-navbar/pg-search">Pg Search</a>
            <!-- <ul class="dropdown-content">
                <li><a routerLink="/admin-navbar/pg-search">Pg Search</a></li> -->
                <!-- <li><a routerLink="/admin-navbar/"></a></li>
                <li><a routerLink="/admin-navbar/"></a></li> -->
            <!-- </ul> -->
        </li>
        <li class="dropdown"><a>User Profile</a>
            <ul class="dropdown-content">
                <li><a routerLink="/admin-navbar/user-search">Edit profile</a></li>
                <li><a routerLink="/admin-navbar/user-profile">Reviews</a></li> 
            </ul></li>
        
        <li><a routerLink="/">Logout</a></li>
    </ul>
</div>
