<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="login-section">
            <h2>LOGIN</h2>
            <br>
            <form (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <input type="text" [(ngModel)]="userobject.email" name="email" placeholder="Email" id="email" required>
                </div>
                <div class="input-group">
                    <input type="password" [(ngModel)]="userobject.password" name="password" placeholder="Password" id="password" required>
                </div>
                <button type="submit" class="login-btn">Login Now</button>
            </form>
            <div class="login-with-others">
                <p>Don't have an account?
                    <a href="/registration" class="register-link">Register</a>
                </p>
            </div>
        </div>
        <div class="image-section">
            <img src="logincover.jpg" alt="Login Cover">
        </div>
    </div>
</body>
</html>
