<!DOCTYPE html>
<html lang="en">
<head>
    <title>Glassmorphism Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form (ngSubmit)="onSubmit()">
        <h3>Login Here</h3>

        <!-- Email input field -->
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="userobject.email" name="email" placeholder="Email" id="email" required>

        <!-- Password input field -->
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="userobject.password" name="password" placeholder="Password" id="password" required>

        <!-- Submit button -->
        <button type="submit">Log In</button>

        <div class="social">
            <button type="button" (click)="navigateToRegister()">Register</button>
        </div>
    </form>
</body>
</html>
