.pg-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    gap: 20px;
    padding: 20px;
    background-color: #f5f7fa;
    border-radius: 15px;
    margin-top: 8px;
}

.pg-card {
    max-width: 1000px;
    width: 100%; /* Ensure the card takes full width up to max-width */
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    padding: 20px;
    transition: transform 0.5s, box-shadow 0.3s;
    align-items: center;
}


.pg-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

.pg-image {
    flex-shrink: 0;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    height: 220px;
}

.pg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pg-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #323c4d;
    font-family: 'Poppins', sans-serif;
}

.pg-details h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}

.pg-details p {
    font-weight: 400;
    font-size: 14px;
    color: #6b6b6b;
    margin: 4px 0;
}

.pg-buttons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.pg-buttons button {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s, transform 0.3s;
}

.view-details {
    background-color: #449ee3;
    color: white;
}

.view-details:hover {
    background-color: #3680c2;
    transform: scale(1.05);
}

.contact-owner {
    background-color: #f26629;
    color: white;
}

.contact-owner:hover {
    background-color: #d1541f;
    transform: scale(1.05);
}

.no-results {
    text-align: center;
    margin-top: 40px;
    color: #030303;
    font-size: 16px;
    font-weight: 500;
}
/* img */
.image-carousel {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden; /* Prevent overflow of images */
    width: 200px; /* Set a fixed width */
    height: 220px; /* Set a fixed height */
}

.image-carousel img {
    width: 100%; /* Make image fill the width */
    height: 100%; /* Make image fill the height */
    object-fit: cover; /* Scale the image to cover the area */
    transition: transform 0.3s ease; /* Smooth transition for image change */
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
