<!-- Navbar and Site Name -->
<div class="navbar">
    <div class="site-branding">
        <img src="/icon.png" alt="Site Icon" class="site-icon" />
        <h1 class="site-name">FindYourNest</h1>
    </div>
    <nav>
        <!-- Right side with profile picture and dropdown -->
    <div class="profile-menu">
        <img src="/portrait.jpg" alt="Profile" class="profile-pic" />
        <div class="dropdown-content">
            <ul>
                <li><a routerLink="/user-navbar/user-profile">Profile</a></li>
                <li><a (click)="onLogout()">Logout</a></li>
            </ul>
        </div>
    </div>
    </nav>
  </div>
  
  