table {
    width: 100%; /* Make the table take the full width of the container */
    border-collapse: collapse; /* Combine borders to avoid double lines */
    margin-top: 20px; /* Add some space above the table */
}

thead {
    background-color: #f2f2f2; /* Light gray background for the header */
}

th, td {
    padding: 10px; /* Add some padding for better spacing */
    text-align: left; /* Align text to the left */
    border: 1px solid #000000; /* Light gray border for the cells */
}

tr:nth-child(even) {
    background-color: #e7dfdf; /* Alternate row color for readability */
}

tr:hover {
    background-color: #000000; /* Change background on hover for better interactivity */
}

h3 {
    margin-bottom: 10px; /* Space below the heading */
}


div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.search-box{
    margin-top: 60px;
}
/* Input field styling */
input[type="text"] {
    padding: 14px;
    width: 300px;
    border-radius: 25px;
    background-color: #d6cbf3;
    border: 1px solid #9a94b4;
    font-size: 16px;
    font-family: poppins;
    margin-right: -42px;
    outline: none;
    transition: border 0.3s;
}

input[type="text"]:focus {
    border-color: #cbc4e5;
}

/* Search button styling */
button {
    padding: 1px 20px;
    background-color: #4846c1;
    color: #e8e9fc;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    font-family: poppins;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3a399b;
}
.button-search{
    margin: 20px 0px 0px 4px;
}
/* Styling for the book list */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 30px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}