    <!-- PgsearchComponent.html -->

    <div>
        <input type="text" [(ngModel)]="searchModel.district" placeholder="District" name="district" />
        <input type="text" [(ngModel)]="searchModel.city" placeholder="City" name="city"/>
        <button (click)="searchPgs()">Search</button>
    </div>
    <div *ngIf="pgs.length > 0">
        <table border="1">
          <thead>
            <tr>
              <th>PG Name</th>
              <th>Address</th>
              <!-- Add more table headers if needed -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pg of pgs">
              <td>{{ pg.pgname }}</td>
              <td>{{ pg.address }}</td>
              <!-- Add other fields as necessary -->
            </tr>
          </tbody>
        </table>
      </div>
    
    <div *ngIf="pgs.length === 0 && searchModel.district && searchModel.city">
        <p>No PGs found.</p>
    </div>
    