.topbar {
  background-color: #d6e3ed;
  color: #4c4d51;
  padding: 10px 20px;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.site-logo {
  display: flex;
  align-items: center;
}

.site-logo img.logo {
  height: 40px;
  margin-right: 10px; /* Space between logo and title */
}

.site-logo h2 {
  margin: 0;
  font-size: 24px;
  color: #55bafc;
}

.user-profile {
  position: relative;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #4c4d51;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropbtn {
  background-color: #d6e3ed;
  color: #d6e3ed;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d6e3ed;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #4c4d51;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d6e3ed;
}
