<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    
</head>
<body>
    <!-- Privacy Policy Content -->
    <div class="policy-container">
        <h1>Privacy Policy</h1>
        <p>The Site is operated by Thinkwide Hospitality Private Limited (under the “PGO” brand name). This page sets forth the Privacy Policy (the “Policy”) for the website: <a href="https://www.findyournest.in">www.findyournest.in</a>, all other sites owned and operated by PGO that redirect to www.findyournest.in, or the Mobile App and all sub-domains (collectively, the “Site”).</p>
        
        <p>PGO takes the responsibility of handling your personal information very seriously. By using the Service, you consent to the collection and use of information in accordance with this Policy.</p>
        
        <h2>Collection of Information</h2>
        <ul>
            <li>Information such as your name, email, postal address, phone number, and gender that you provide by completing forms on the Site.</li>
            <li>Details of any requests or transactions made by you through the Service.</li>
            <li>Communications you send to us for queries, concerns, or comments regarding the Service or its content.</li>
            <li>Information posted on the Site in the form of comments or contributions to discussions, including IP addresses.</li>
        </ul>

        <h2>Uses of Your Personal Information</h2>
        <ul>
            <li>Identifying you when you sign-in to your account.</li>
            <li>Providing the services requested by you.</li>
            <li>Sending you information that may be useful to you.</li>
            <li>Presenting properties or services that we believe will be of interest to you.</li>
            <li>Administering your account with us.</li>
            <li>Contacting you regarding queries or issues.</li>
            <li>Analyzing the use of the Service to improve our content and offerings.</li>
        </ul>

        <h2>Email & Mobile Communication</h2>
        <p>We will send you emails and SMS notifications related to your personal transactions. You have the option to opt out of notifications, except for necessary service-related announcements.</p>

        <h2>Third Party Services</h2>
        <p>We do not post anything to your accounts on third-party sites like Facebook or Twitter without your permission. We also do not share your personal information with third parties, except as required to provide the Services.</p>

    </div>
</body>
</html>
