.contact-section {
    font-family: 'Poppins';
    font-size: 16px;
    padding: 60px 0px 60px 0px;
    text-align: center;
    background: #e9ecf2;
    margin-top: -20px;
    
}

.contact-heading {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #2f92d4;
}

.contact-form {
    max-width: 650px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.contact-form:hover {
    transform: translateY(-5px);
}

.form-control {
    border: 1px solid #ddebf4;
    border-radius: 8px;
    font-size: 14px;
    padding: 14px;
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #b8d7f7;
    box-shadow: 0 0 5px rgba(141, 165, 192, 0.5);
}

.btn.modern-btn {
    background: #2f92d4;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 12px;
    border-radius: 10px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.btn.modern-btn:hover {
    background: #0056b3;
}